.app_main_cover {
  display: flex;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .app_content {
    width: 420px;
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: relative;
    z-index: 2;

    .app_content_form {
      width: 100%;
      height: 90dvh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .app_inside_content_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $white;
        padding: 24px 36px;
        border-radius: 10px;
        box-shadow:
          0px 1px 1px 0px #25292e1a,
          0px 3px 6px 0px #25292e1f;
      }

      .app_main_logo {
        width: 150px;
        margin-bottom: 30px;
        & > svg {
          width: 100%;
        }
        & > img {
          width: 100%;
        }
      }

      .app_auth_form {
        width: 100%;

        h1 {
          width: 100%;
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 6px;
        }

        & > p {
          color: $gray;
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          margin-bottom: 40px;
        }

        .app_form_auth {
          form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            & > div {
              display: flex;
              justify-content: center;

              &.app_links_inside {
                display: flex;
                justify-content: center;
                margin-top: 0px;
                margin-bottom: 10px;

                & > p {
                  color: $gray;
                  font-size: 14px;
                  font-weight: 500;

                  & > a {
                    color: $blue;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
            .app_group_field {
              display: flex;
              gap: 10px;
            }
            .app_wrap_field {
              width: 100%;
              display: flex;
              flex-direction: column;
              position: relative;

              & > p {
                font-size: 13px;
                font-weight: 500;
                margin-top: 4px;
                color: $error;
              }

              .app_password_eyes {
                position: absolute;
                top: 11px;
                right: 16px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                padding: 0px;
                background: transparent;
                border: 0px solid transparent;

                & > span {
                  width: 20px;
                  height: 20px;
                  color: $gray;

                  & > svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }

              .app_pass_rules {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 16px;
                margin-top: 10px;

                & > p {
                  width: 50%;
                  font-size: 13px;
                  font-weight: 500;
                }

                .app_valid_green {
                  color: $success;
                }

                .app_valid_gray {
                  color: $gray;
                }
              }
            }
          }
          .app_links {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            & > p {
              color: $gray;
              font-size: 14px;
              font-weight: 500;

              & > a {
                color: $blue;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .app_content_footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-bottom: 16px;

      p {
        font-size: 14px;
        width: 100%;
        text-align: center;

        & > span {
          color: $red;
          margin-left: 5px;
        }
      }

      & > span {
        color: $gray;
        font-size: 12px;
        width: 100%;
        text-align: center;

        a {
          color: darken($blue, 10%);
          margin: 0px 3px;
        }
      }
    }
  }

  & > span {
    position: absolute;
    height: 340px;
    top: calc(46rem - 340px);
    left: 0;
    width: 100%;
    background: #ececee;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(236, 236, 238, 1) 87%
    );
    z-index: 1;
  }

  .app_video_auth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46rem;
    overflow: hidden;
    opacity: 1;

    img {
      width: 100%;
    }
  }
}

.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
