$font: "Basel", sans-serif;

$transparent: transparent;
$white: #ffffff;
$black: #000000;

$bg: #ececee;
$green: #21bb4f;
$blue: #0b57d0;
$hblue: #00358a;
$dark: #1f1f1f;
$gray: #747775;
$dgray: #454545;
$red: #da0021;
$tableborder: #d2dbe5;
$tablehead: #f1f5f9;

$warning: #e38000;
$warningbg: #fef3dd;
$success: #037722;
$successbg: #dffbe7;
$info: #016ea3;
$infobg: #e5f4ff;
$error: #e71414;
$errorbg: #ffe4e5;
$secured: #351e9a;
$securedbg: #f0e6ff;
$approve: #097df1;
