.app_breadcrumb_sec {
  display: flex;
  height: 46px;
  width: calc(100% - 440px);
  top: 0px;
  padding: 0 30px;
  position: fixed;
  align-items: center;
  background: $white;
  justify-content: space-between;
  z-index: 9;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.08);

  & > ul {
    display: flex;

    li {
      font-size: 14px;
      display: flex;
      align-items: center;

      & > a {
        color: $gray;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }

      & > span {
        width: 16px;
        height: 16px;
        margin: 0 10px;
        color: $gray;

        & > svg {
          width: 16px;
          height: 16px;
        }
      }

      &:last-child {
        & > span {
          height: auto;
          width: auto;
          margin: 0px;
          color: $dark;
        }
      }
    }
  }

  .app_log_location_info {
    display: flex;

    & > p {
      font-size: 13px;
    }
  }
}
