.calendar-container {
  width: 100%;
  margin-bottom: 24px;

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
    }

    .calender-btns {
      display: flex;
      gap: 10px;

      select {
        height: 26px;
        font-size: 13px;
        background: #f0f0f0;
        padding: 0 4px;
        border-radius: 6px;
        border: 0px solid transparent;
      }
    }

    .calender-arrow {
      display: flex;
      gap: 4px;
      justify-content: space-between;

      button {
        width: 20px;
        height: 20px;
        border: 0;
        margin-top: 3px;
        background: transparent;
        cursor: pointer;

        span {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  .event-dot {
    position: absolute;
    bottom: 2px;
    left: 5px;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  .calender-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .calendar-grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(7, 1fr);
      gap: 3px;

      .calendar-day-name {
        font-size: 11px;
        text-align: center;
        padding: 3px 0;
      }

      .calendar-day {
        width: 28.6px;
        height: 28px;
        position: relative;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        display: flex;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        border: 1px solid #ebebeb;

        &.today {
          background: #aadaf0;
          font-weight: 500;
          color: #004060;
          border: 1px solid #0294dd;
        }

        &.selected {
          background: #ffeeba;
          border: 1px solid #ffc107;
        }

        &.empty {
          background: transparent;
          border: 1px solid transparent;
        }
      }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);

  .modal {
    width: 400px;
    padding: 16px 20px 20px;
    background: $white;
    border-radius: 8px;
    box-shadow:
      0px 1px 1px 0px #25292e1a,
      0px 3px 6px 0px #25292e1f;

    h3 {
      width: 100%;
      text-align: left;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 20px;
      position: relative;

      .app_close_btn_pop {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 2px;
        right: 0px;
        cursor: pointer;

        & > span {
          width: 20px;
          height: 20px;

          & > svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .model_row {
      display: flex;
    }
  }
}
