.app_input {
  width: 100%;
  height: 42px;
  padding: 0 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid $tableborder;

  &.disabled {
    background: $gray;
    cursor: not-allowed;
  }
}

.select_box {
  width: 100%;
  height: 42px;
  padding: 0 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid $tableborder;

  &.disabled {
    background: $gray;
    cursor: not-allowed;
  }
}

.app_textarea {
  width: 100%;
  height: 100px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  resize: none;
  border: 1px solid $tableborder;

  &.disabled {
    background: $gray;
    cursor: not-allowed;
  }
}
